.caption {
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  font-style: italic;
}

.spy {
  margin: 20px auto;
  box-sizing: border-box;
  border-top: 5px dashed #D0D3D4;
  border-bottom: 5px dashed #D0D3D4;
  overflow: hidden;
  font-family: serif;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #222f3e;
}

.section {
  text-transform: uppercase;
}

